@tailwind base;
@tailwind components;
@tailwind utilities;

.spacer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center; /* Set background position to top */
    background-size: contain;
    background-color: #14185a
}

.layer1 {
    background-image: url('../Assets/purpleblob2.svg');
}

/*
14185a
b200ff
*/